APP_NAME="VTU Express Nigeria"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=VTU
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false

QUEUE_CONNECTION=database
CACHE_STORE=database

VTU_PROVIDER=mock
VTU_BASE_URL=https://api.vtuxpress.com/v1
VTU_API_KEY=
VTU_API_SECRET=

PAYMENT_PROVIDER=mock
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

TRANSACTION_PIN_LENGTH=4
